<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--script src ="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<head>
    <style>
        h2 {
            margin-bottom:0;
            margin-top: 0;
        }
        .wrapper {
            text-align: center;
        }
        .tab {
            margin-left: 40px;
            margin-right: 40px;
        }
        .button {
            position: absolute;
            top: 50%;
        }
        .animation.ng-enter, .animation.ng-leave {
            -webkit-transition: 1s;
        }
        .animation.ng-enter {
            opacity: 0;
        }
        .animation.ng-leave {
            opacity: 1;
        }
        .animation.ng-enter.ng-enter-active {
            opacity: 1;
        }
        .animation.ng-leave.ng-leave-active{
            opacity: 0;
        }
    </style>
</head>
<body>
<h1><center>CSE5335-project2</center></h1>
<br>
<div ng-app="myApp" ng-controller="customersCtrl" class="tab">
    <div class="wrapper">
        <button class="btn btn-info btn-lg" ng-click="clickButton()">Click Me!</button>
        <br>
        </div>

    <div>
        <table class="table" ng-if = "names">
            <thead>
            <tr>

                <th>ID</th>
                <th>street</th>
                <th>city</th>
                <th>zip</th>
                <th>state</th>
                <th>beds</th>
                <th>bath</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="x in names" class="animation">
                <td>{{x.id}}</td>
                <td>{{x.street}}</td>
                <td>{{x.city}}</td>
                <td>{{x.zip}}</td>
                <td>{{x.state}}</td>
                <td>{{x.beds}}</td>
                <td>{{x.baths}}</td>
                <td>{{x.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var i = 1;
    var app = angular.module('myApp', ['ngAnimate']);
    app.controller('customersCtrl', function($scope, $http, $interval) {

        $scope.clickButton = function() {
            $scope.names=[];
            $interval(function () {
                if(i <= 100) {
                    $http.get("/get-data", {params: {"param1": i}})
                            .then(function (response) {
                                i++;
                                $scope.names.push(response.data);
                                if (i>20)
                                    $scope.names.shift();
                            });
                }
            }, 500);
        }

    });
</script>

</body>
</html>